[submodule "frontend"]
	path = onlineBeratung-frontend
	url = https://github.com/Caritas-Deutschland-Digitallabor/caritas-rework-onlineBeratung-frontend
[submodule "caritas-rework-onlineBeratung-userService"]
	path = caritas-rework-onlineBeratung-userService
	url = https://github.com/Caritas-Deutschland-Digitallabor/caritas-rework-onlineBeratung-userService
